SECRET_KEY=your-secret-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Stripe (będzie później)
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=

# Telegram (będzie później)
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
